Xft.dpi: 220
xterm*faceName: monospace:pixelsize=34
xterm*Background: black
xterm*Foreground: white
xterm*metaSendsEscape: true
*VT100*translations:      #override \n\
        Ctrl Shift <Key>V:  insert-selection(SELECT)

