[Unit]
Description=Create MOTD at startup

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "/usr/bin/create_motd > /etc/motd"

[Install]
WantedBy=multi-user.target
