[Unit]
Description=Create MOTD at startup

[Service]
ExecStart=/usr/bin/bash -c "/usr/bin/create_motd > /etc/motd"
Restart=always
RestartSec=2h

[Install]
WantedBy=multi-user.target
